@use "../../abstract/" as *;

.footer-nav {

    .footer-menu > ul {
        column-count: 3;
    }

    ul {
        list-style: none;
    }

    li {
        line-height: $line-height-normal;
    }

    a {
        color: currentColor;
    }
}
